        <!-- middle -->
        <div class="middle">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>

                <!-- to hide remove this td -->
                <td width="248" valign="top">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr height="17">
                        <td width="18" class="table-cor-left-top"></td>
                        <td width="230" bgcolor="#000000"></td>
                      </tr>

                      <tr bgcolor="#000000">
                        <td></td>

                        <td>
                        <div class="cont" style="padding-bottom:20px;">
                        	<div class="searchbox ml10 mt10"><input name="" type="text" class="textbox" value="Address, Keywords"></div>
                            <a href="#" class="search-btn mt10 ml10"></a>

                            <div class="searh-detail-cont ml5">
                               	<div class="search-detial-text"><input name="" type="checkbox" value="" class="checkbox"> All</div>
                               	<div class="search-detial-text"><input name="" type="checkbox" value="" class="checkbox"> Venue</div>
                               	<div class="search-detial-text"><input name="" type="checkbox" value="" class="checkbox"> Musician</div>
                               	<div class="search-detial-text"><input name="" type="checkbox" value="" class="checkbox"> Coach</div>
                               	<div class="search-detial-text"><input name="" type="checkbox" value="" class="checkbox"> Composer</div>
                               	<div class="search-detial-text"><input name="" type="checkbox" value="" class="checkbox"> School</div>
                               	<div class="search-detial-text"><input name="" type="checkbox" value="" class="checkbox"> Business</div>
                            </div>

                            <div class="searh-detail-cont ml25">
                            	<div class="search-detial-text"><span>Filters</span></div>

                                <a href="#" class="filter-btn">
                                	<div class="left"></div>
                                    <div class="middle">Date</div>
                                    <div class="right"></div>
                                </a>

                                <a href="#" class="filter-btn">
                                	<div class="left"></div>
                                    <div class="middle">Instruments</div>
                                    <div class="right"></div>
                                </a>

                                <a href="#" class="filter-btn">
                                	<div class="left"></div>
                                    <div class="middle">Genre</div>
                                    <div class="right"></div>
                                </a>

                                <a href="#" class="filter-btn">
                                	<div class="left"></div>
                                    <div class="middle">Business</div>
                                    <div class="right"></div>
                                </a>

                                <a href="#" class="filter-btn">
                                	<div class="left"></div>
                                    <div class="middle">More</div>
                                    <div class="right"></div>
                                </a>
                            </div>

                        </div>
                        </td>

                      </tr>

                      <tr height="17">
                        <td class="table-cor-left-bot"></td>
                        <td bgcolor="#000000"></td>
                      </tr>

                      <tr>
                      	<td colspan="2">
                       	  <div class="cont mt30 ml5">
                            	<div class="home-what-title">What's this all about?</div>
                            </div>

                            <div class="flawh mt10"><img src="images/vimeo-video-home.png" width="229" height="129"></div>

                            <div class="home-what-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent erat urna, euism eu volutpat vitae, hendrerit et nisi. Sed aliquam tristique condimentum. Curabitur  risus sit amet lorem luctus sodales eget  lorem. Aliquam erat volutpat.
                            </div>

                            <a href="#" class="read-more-btn mt10">
                            	<div class="left"></div>
                                <div class="middle">Read more</div>
                                <div class="right"></div>
                            </a>
                        </td>
                      </tr>


                    </table>
                </td>
                <!-- /to hide remove this td -->


                <td>
                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr height="17">
                        <td bgcolor="#000000" width="18">&nbsp;</td>
                        <td bgcolor="#000000"></td>
                        <td class="table-cor-right-top" width="18">&nbsp;</td>
                      </tr>

                      <tr bgcolor="#000000">
                        <td valign="top"><a href="#" class="expand-icon"></a></td>

                        <td>
                        	<div class="flawh">
                        	<img src="images/map.jpg" width="100%" />
                            </div>
                        </td>

                        <td></td>
                      </tr>

                      <tr height="17">
                        <td class="table-cor-left-bot"></td>
                        <td bgcolor="#000000"></td>
                        <td class="table-cor-right-bot"></td>
                      </tr>
                    </table>
                </td>

              </tr>
            </table>
        </div>
        <!-- /middle -->
