<%= render 'form', :title => 'Editing my profile' %>
<div class="location_map_column">
  <div class="location_map">
    <%= raw(@map.div(:width => 600, :height => 400)) %>
  </div>  
</div>

<script>
  var marker = null;
  var get_location_name_timeout = null;

  $(document).ready(function() {


    var update_location_fun = function(resolveName) {
      if(resolveName == null) {
        resolveName = true;
      }

      var form = $('#edit_location');
      var latlng = new GLatLng(
      $('#user_profile_location_attributes_latitude').val(),
      $('#user_profile_location_attributes_longitude').val()
    );
      $('#user_profile_location_attributes_address').val(latlng.lng().toFixed(7) + ' / ' + latlng.lat().toFixed(7));
      
      map.setCenter(latlng);
      if(marker) {
        map.removeOverlay(marker);
      }
      
      marker = new GMarker(latlng);
      
      map.addOverlay(marker);
      

      if(resolveName) {
        
        
        var get_location_name_fun = function() {
          $.ajax({
            url: "/xml/address_search.xml?lat=" + latlng.lat() + "&lon=" + latlng.lng(),
            dataType: 'xml',
            success: function(resp) {
              
              $('#user_profile_location_attributes_address').removeClass('ui-autocomplete-loading');
              var name = $('address', resp).text();
              if(name != '') {
                $('#user_profile_location_attributes_address').val($('address', resp).text());
              }
            }
          });
        }

        if(get_location_name_timeout) {
          clearTimeout(get_location_name_timeout);
        }
        get_location_name_timeout = setTimeout(get_location_name_fun, 300);
        $('#user_profile_location_attributes_address').addClass('ui-autocomplete-loading');
      }
    }

    $('#user_profile_location_attributes_longitude').keyup(update_location_fun);
    $('#user_profile_location_attributes_longitude').blur(update_location_fun);
    $('#user_profile_location_attributes_latitude').keyup(update_location_fun);
    $('#user_profile_location_attributes_latitude').blur(update_location_fun);

    var register_map_event_fun = function() {
      if(!map) {
        setTimeout(register_map_event_fun, 100);
        return;
      }
      GEvent.addListener(map, "click", function(overlay, latlng) {
        if (latlng) {
          $('#user_profile_location_attributes_longitude').val(latlng.lng());
          $('#user_profile_location_attributes_latitude').val(latlng.lat());
          update_location_fun();
        }
      });
    }
    setTimeout(register_map_event_fun, 100);


    $('#location_advanced_link').click(function() {
      var location_advanced_div = $('#location_advanced')[0];
      var location_advanced_link = $('#location_advanced_link')[0];
      if(location_advanced_div && location_advanced_link) {
        if(location_advanced_div.style.display == 'none') {
          location_advanced_div.style.display = 'block';
          location_advanced_link.innerHTML = 'Hide Advance Settings';
        }
        else {
          location_advanced_div.style.display = 'none';
          location_advanced_link.innerHTML = 'Advance Settings';
        }
      }
    })

    $('#user_profile_location_attributes_address').autocomplete({
      focus: function(event, ui) {
        return false;
      },
      select: function(event, ui) {
        var position = ui.item.id.split(";");
        $('#user_profile_location_attributes_longitude').val(position[0]);
        $('#user_profile_location_attributes_latitude').val(position[1]);
        update_location_fun(false);
      },
      source: function(request, cb) {
        $.ajax({
          url: "/xml/location_search.xml?q=" + request.term, // escape
          dataType: 'xml',
          success: function(resp) {
            cb($("location", resp).map(function() {
              return {
                label: $("address", this).text(),
                id: $("longitude", this).text() + ";" + $("latitude", this).text()
              };
            }).get());
          }
        });
      },
      minLength: 2
    });
    $('#edit_location').validate();
  });
</script>