<div style="background-color: black;color: whitesmoke;width: 100%;height: 40px;float: left;">
  <div style="float: left; width: 100%;margin: 10px;">
    <div style="float: left;">
      <%= link_to t("Home"), root_path %>
    </div>

    <div style="float: left;">
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to t("About Us"), root_path %>
    </div>

    <div style="float: left;">
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to t("Help"), root_path %>
    </div>

    <div style="float: left;">
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to t("Contact Us"), root_path %>
    </div>
  </div>

</div>
</body>

</html>