<div class="cont footer">
	<div class="wrapper">
    	<div class="footertext">
        &copy; Musociety 2011. All rights reserved.
        </div>

        <div class="footertext ml50">
		<a href="#">About Us</a> / <a href="#">Contact Us</a> / <a href="#">FAQ</a> / <a href="#">Support</a> / <a href="#">Media Room</a> / <a href="#">Legal Disclaimer</a>
        </div>

        <div class="frawh">
        	<a href="#" class="red-btn"></a>
        	<a href="#" class="yellow-btn"></a>
        	<a href="#" class="green-btn"></a>
        	<a href="#" class="blue-btn"></a>
        	<a href="#" class="purple-btn"></a>
        </div>
    </div>
</div>
<!-- /cont footer -->

