
        <!-- header -->
        <div class="header">

          <div class="toplink-cont">
            <a href="#" class="top-link">Forum</a>
            <a href="#" class="top-link">Resources</a>
            <a href="#" class="top-link">My Studio</a>
            <a href="#" class="top-link">Spotlight</a>
            <a href="#" class="top-link">Mingle</a>
            <a href="#" class="top-link-s">Search</a>
          </div>

          <a href="#" class="logo"></a>

          <div class="frawh mt30">
            <div class="email-txtbox"><input name="" type="text" class="textbox" value="email"></div>

            <div class="password-txtbox ml5"><input name="" type="text" class="textbox" value="password"></div>

            <a href="#" class="top-btn ml5">
              <div class="left"></div>
              <div class="midde">Login</div>
              <div class="right"></div>
            </a>
            <a href="/users/register" class="top-btn ml10">
              <div class="left"></div>
              <div class="midde">Join Us</div>
              <div class="right"></div>
            </a>

            <a href="#" class="top-btn ml20">
              <div class="left"></div>
              <div class="midde">About Us</div>
              <div class="right"></div>
            </a>

            <a href="#" class="facebook"></a>
            <a href="#" class="twitter"></a>
          </div>

        </div>
        <!-- /header -->
